[submodule "src/Clients/cpp"]
	path = src/Clients/cpp
	url = https://github.com/Stormancer/stormancer-sdk-cpp.git
[submodule "src/Clients/js"]
	path = src/Clients/js
	url = https://github.com/Stormancer/stormancer-sdk-js.git
